{{ define "create" }}
{{ template "header" }}
<main class="px-3">
  <h1>Form creating article Page.</h1>
  <form action="/save_article" method="post">
    <input type="text" name="title" id="title" placeholder="Enter name of article"
     class="form-control"><br>
    <textarea name="anons" id="anons" placeholder="Enter anons of article" class="form-control"></textarea><br>
    <textarea name="full_text" id="full_text" placeholder="Enter text of article" class="form-control"></textarea><br>
  <button class="btn btn-warning">Add</button>
  </form>
</main>

{{ template "footer" }}
{{ end }}